/.venv
/.env

.idea
__pycache__/
# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

test.py

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
.venv
requirements.txt
.deployment
